@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
/* FONT SIZES */
html {
    font-family: 'Poppins', sans-serif;
}
p {
    font-size: 1rem;
    color: #2D3142;
}
h1 {
    font-size: 3.5rem;
    color: #2D3142;
}
h2 {
    font-size: 1.6rem;
    color: #2D3142;
}
h2:after {
    content:'';
    display:block;
    width:100%; height:100%;
    margin-right:-100%;
    border-bottom:1px solid #2D3142;
}
h3 {
    color: #2D3142;
}

/* NAV BAR */
nav {
    display: flex;
    overflow: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    padding-bottom: .25rem;

    font-size: 2rem;
    background-color: #d8ab4e;
    transition: top 0.5s;
}
.nav-up {
    top: -2.25rem;
}
.change-color {
    background-color: #FFF;
}
nav a {
    text-decoration: none;
    float: left;
    color: #FFF;
    width: 10rem;
    height: 2.75rem;
    margin-left: 1%;
    position: relative;

    text-align: center;
    align-items: center;
}
#nav-links {
    display: flex;
    overflow: wrap;
    align-items: center;
}   
.click:after {
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #FFF;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.click:hover:after {
    width: 100%; 
    left: 0; 
}
#active {
    height: 2.75rem;
}
#active:after {
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    background: #FFF;
    left: 0;
    width: 100%;
}
.float-right {
    float: right;
}

/* HEADER IMAGE */
#image-container {
    position: relative;
}
#header {
    width: 100%;
}
#tagline {
    position: absolute;
    bottom: 6rem;
    left: 5rem;
    color: #2D3142;

    overflow: hidden; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#tagline h1 {
    font-family: 'Rock Salt', cursive;
    margin: .5rem;
    font-size: 6rem;
}
#tagline h2 {
    margin: .5rem;
    font-size: 2rem;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    justify-content: center;
    grid-gap: 1rem .5rem;
}
.grid div {
    border: 1px solid black;
    justify-self: center;
    word-wrap: normal;
}
.grid div img {
    width: 100%;
}

/* INTRODUCTION */
.italics {
    font-style: italic;
}
.flex {
    display: flex;
    overflow: wrap;
}
#face {
    border-radius: 50%;
    max-width: 20rem;
}
body {
    margin: 0;
    padding: 0; 
    background-color: #FFF;
}
main {
    margin: 0 2.5%;
    padding: 2.5%;
}
footer {
    background-color: #2D3142;
    height: 3rem;
    max-width: 100%;
}
footer p {
    color: #FFF;
}

/* CONTACT */
form {
    width:459px;
    margin:0 auto;
}

label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

input, textarea {
    width:439px;
    height:27px;
    background:#efefef;
    border-radius:5px;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
}

textarea {
    height:213px;
}

#submit {
    width:127px;
    height:38px;
    border:none;
    margin-top:20px;
    cursor:pointer;
    border: 1px solid gray;
    background-color:gray;
    color:white;
}

/* COMPUTER */
@media screen and (max-width: 1024px) {
    main {
        background-color: pink;
    }
    .grid {
        grid-template-columns: 1fr;
    }
}

/* TABLETS */
@media screen and (max-width: 720px) {
    main {
        background-color: blue;
    }
    nav {
        font-size: 1.6rem;
    }
    
}

/* PHONES */
@media screen and (max-width: 600px) {
    main {
        background-color: green;
    }
}

/* SMALLER PHONES */
@media screen and (max-width: 320px) {
    main {
        background-color: red;
    }
}