/* Nav Bar */
nav {
    display: flex;
    overflow: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    position: fixed;
    padding: .25rem 0 .25rem;

    font-size: 2rem;
    background-color: #d8ab4e;

    transition: 0.3s all;
}
.change-color {
    background-color: #FFF;
}
nav a {
    text-decoration: none;
    float: left;
    color: #FFF;
    width: 7rem;
    margin-left: 1%;
    position: relative;

    text-align: center;
    align-items: center;
}
#nav-links {
    display: flex;
    overflow: wrap;
    align-items: center;
    margin-right: 1%;
}
#nav-links a {
    margin-left: 3%;
}
.click:after {
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #FFF;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.click:hover:after {
    width: 100%; 
    left: 0; 
}
#active:after {
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    background: #FFF;
    left: 0;
    width: 100%;
}
.float-right {
    float: right;
}

/* Header Image */
#header {
    width: 100%;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    justify-content: center;
    grid-gap: 1rem 1rem;
}
.grid div {
    border: 1px solid black;
    justify-self: center;
    word-wrap: normal;
}
.grid div img {
    width: 100%;
}

/* Introduction */
.italics {
    font-style: italic;
}

.flex {
    display: flex;
    overflow: wrap;
}
#face {
    border-radius: 50%;
    max-width: 20rem;
}
body {
    margin: 0;
    padding: 0; 
    background-color: #FFF;
}
main {
    margin: 0 2.5%;
    padding: 2.5%;
}
footer {
    background-color: #130303;
    height: 3rem;
    max-width: 100%;
}
footer p {
    color: #FFF;
}

/* Font Sizes */
p {
    font-size: 1rem;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.6rem;
}

@media screen and (max-width: 1024px) {
    main {
        background-color: pink;
    }
    .grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 720px) {
    main {
        background-color: blue;
    }
    nav {
        font-size: 1.6rem;
    }
    
}

@media screen and (max-width: 600px) {
    main {
        background-color: green;
    }
}

@media screen and (max-width: 320px) {
    main {
        background-color: red;
    }
}